<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.helidon.mp.mybatisplus.mapper.GreetMapper">

	<!-- 通用查询结果列-->
	<select id="getEmpVOList" resultType="EmpVO">
		select emp.*, dept.dname from emp, dept where emp.deptno = dept.deptno
	</select>
</mapper>